@import './tools.scss';

html, body, #app {
    width: 100%;
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
}
.body {
    height: calc(100% - 78px);
}
ul, li {
    list-style: none;
}


// element-ui
.number-input {
    
}